#root {


  padding-top: 0;
  text-align: center;
}

@media (max-width: 500px) {
  #root {
    padding: 0.5rem;
    padding-top: 0;
    text-align: center;
  }
}


.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:20px;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  
}
.whole-top{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}
.download-cv-button {
  display: flex;
  padding: 18px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: #3ecf8e;
  border: none;
  color: #092e33;
  font-family: Satoshi, sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Hover Effect */
.download-cv-button:hover {
  background: #2db375; /* Darker green */
  color: white; /* Change text color */
  transform: scale(1.05); /* Slight zoom effect */
  box-shadow: 0 4px 15px rgba(62, 207, 142, 0.4); /* Soft glow effect */
}

/* Active (Click) Effect */
.download-cv-button:active {
  transform: scale(0.98); /* Slight shrink effect when clicked */
}

.social-icons-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20.811px;
}
@keyframes rgbBorder {
  0% { border-color: rgba(195, 0, 255, 0.507); } /* Red */
  50% { border-color: rgb(195, 0, 255, 0.507); } /* Yellow */
  100% { border-color: rgb(195, 0, 255, 0.507); } /* Red */
}

.social-icon-button {
  display: flex;
  width: 50.371px;
  height: 50.371px;
  justify-content: center;
  align-items: center;
  gap: 6.937px;
  border-radius: 20px;

  transition: transform 0.3s ease-in-out;
}

.social-icon-button:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

@media (max-width: 500px) {
.top-nav{
  justify-content: center;
  padding: 20px;
  padding-bottom: 0;
}

.download-cv-button {
  display: none;
}

.social-icons-row {
    gap: 12px; /* Reduce space between buttons */
  }

  .social-icon-button {
    width: 38px; /* Smaller size */
    height: 38px;
    border-radius: 14px;
  }

  .social-icon {
    width: 28px !important; /* Make icon smaller */
    height: auto;
  }
}


@keyframes fallFromSky {
  0% {
    transform: translateY(-50px) scale(0.7);
    opacity: 0;
  }
  70% {
    transform: translateY(10px) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}